# Unreal Engine 5 Default Gitignore
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Audio/Ambient/Starter_Music01.uasset
Content/Blueprints/ControlRigs/CR_Biped_FootPlacement.uasset
Content/Levels/LevelPrototyping/Textures/T_sky_01_8k.uasset
Content/Locomotor/Mech/Meshes/SKM_Mech.uasset
Content/Locomotor/Mech/Rigs/CR_Mech.uasset
Content/Locomotor/Mech/Textures/DarkMetal_Albedo.uasset
Content/Locomotor/Mech/Textures/DarkMetal_Normal.uasset
Content/Locomotor/Mech/Textures/sfmlffqc_4K_Mask.uasset
Content/MetaHumans/Common/Common/f_med_nrw_body_preview.uasset
Content/MetaHumans/Common/Common/MetaHuman_ControlRig.uasset
Content/MetaHumans/Common/Face/Face_ControlBoard_CtrlRig.uasset
Content/MetaHumans/Common/Face/SKM_Face_Preview.uasset
Content/MetaHumans/Common/Face/neckPoses/neckCorr_m_med_nrw_RBFSolver_pose.uasset
Content/MetaHumans/Common/Male/Medium/NormalWeight/Tops/Hoodie/Meshes/m_med_nrw_top_hoodie_nrm_High.uasset
Content/MetaHumans/Kellan/Face/Kellan_FaceMesh.uasset
Content/MetaHumans/Kellan/MaleHair/Hair/Hair_S_360Waves.uasset
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK8C4AFC879D795F3E56753337399EED197CCB70D0
Intermediate/CachedAssetRegistry_0.bin
Saved/Logs/GameAnimationSample.log